body{
  background-color: #e5e5e5;
  color: white;
  font: 1em sans-serif;
}

h1{
  text-align: center;
}

.bmi-input{
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
  margin-inline: auto;
  background-color: #0a0e21;
  padding: 2rem;
  border-radius: 10px;
}
input{
  padding: .7rem 1rem;
  color: #1a1f38;
  outline: none;
  border: 1px solid rgba(135, 207, 235, 0.26);
  background-color: #1A1F38;
  color: white;
}
input:active{
    background-color: #1A1F38;
}
button{
  padding: .5rem 1rem;
    background-color: #1A1F38;
    color:white;
    font-family: sans-serif;
    font-size: 1.3rem;
     border: 1px solid rgba(135, 207, 235, 0.26);
    outline: none;
}

h3{
  background-color: #1A1F38;
  color: white;
  padding: .7rem;
}

span{
  color: #09FF7A;
  margin-left: 20px;
}